doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Ex1Ficha8
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', media='screen', href='./cssFiles/index.css')
    script(src='./scripts/iscripts.js')
  body
    h1
      | Server is Running!
      h1
        a.button1(href='/sign') Sign In
        a.button1(href='/log') Log In
