doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Ex1FICHA8
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', media='screen', href='./cssFiles/sign.css')
    script(src='main.js')
  body
    h1 Olá #{username}. Bem vindo de volta.
    .in
      a.button1(href='/') HomePage
