<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="/socket.io/socket.io.js"></script>
    <script src="./Script.js"></script>
    <title>Example</title>
  </head>

  <body onload="timedRefresh();">
    <h1 id="demo"></h1>
    <script>
        var socket = io.connect('http://localhost:8000');
        socket.emit('hello-message', {myData: 'hello from client'}); 
        socket.on('server-answer', function(data) {
          console.log(data);
        })
    </script>
  </body>
</html>